<p id="notice"><%= notice %></p>

<h1>Listing Player Spells</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_spells.each do |player_spell| %>
      <tr>
        <td><%= link_to 'Show', player_spell %></td>
        <td><%= link_to 'Edit', edit_player_spell_path(player_spell) %></td>
        <td><%= link_to 'Destroy', player_spell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player spell', new_player_spell_path %>
