<% @modal_title = @player_spell.spell.name %>

<div class="modal-body">
	<table class="table table-striped">
		<tbody>
			<% @attrib_keys.each do |k| %>
			<% if @player_spell.spell.send(k).present? %>
			<tr>
				<th>
					<%= k.titleize %>
				</th>
				<td>
					<%= raw @player_spell.spell.send(k) %>
				</td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<footer class="modal-footer">
	<%= link_to 'Edit Spell', edit_spell_path(@player_spell.spell), class: 'btn btn-sm btn-default pull-left' %>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<%= link_to 'Remove', player_spell_path(@player_spell.player, @player_spell.spell), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
	<%= link_to 'Use', use_player_spell_path(@player_spell.player, @player_spell.spell), class: 'btn btn-primary' if @player_spell.available %>
</footer>
