<%= form_for(@player) do |f| %>
<% if @player.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

	<ul>
		<% @player.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>

</div>
<% end %>

<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
	<%= f.check_box :use_standard_abilities, checked: true %>
	<%= f.label :use_standard_abilities, 'Use the "Standard Set"' %>
	<a href="#" data-toggle="tooltip" title='The "Standard Set" for abilities is: 15,14,13,12,10,8. Otherwise sum of best 3/4 6-sided die.'>
		<i class="fa fa-question-circle"></i>
	</a>
</div>

<div class="form-group">
	<%= f.label :personality %>
	<%= f.text_area :personality, rows: 4, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :ideals %>
	<%= f.text_area :ideals, rows: 4, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :bonds %>
	<%= f.text_area :bonds, rows: 4, class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :flaws %>
	<%= f.text_area :flaws, rows: 4, class: 'form-control' %>
</div>

<div class="actions">
	<%= f.submit nil, class: 'btn btn-primary' %>
</div>
<% end %>
