<%= form_for(@player) do |f| %>
<% if @player.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

	<ul>
		<% @player.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :name %><br>
	<%= f.text_field :name, class: 'form-control' %>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<% MODIFIERS.each do |modifier| %>
			<div class="">
				<%= f.check_box "mod_#{modifier}_prof".to_sym %>
				<%= f.label "mod_#{modifier}_prof".to_sym, modifier %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<% SKILLS.each do |skill| %>
			<div class="">
				<%= f.check_box "skill_#{skill['name'].parameterize.underscore}_prof".to_sym %>
				<%= f.label "skill_#{skill['name'].parameterize.underscore}_prof".to_sym, skill['name'] %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="actions">
	<p>
		<%= f.submit %>
	</p>
</div>
<% end %>
