<p id="notice"><%= notice %></p>

<div class="player" data-object="player" data-url="<%= player_path(@player) %>">
	<div class="row">
		<div class="col-sm-5 text-center">
			<h3>
				<%= rest_in_place @player, :name %>
			</h3>
			<p class="btn-group" role="group">
				<%= link_to 'Rest', rest_player_path(@player), class: 'btn btn-sm btn-default' %>
				<%= link_to 'Edit', edit_player_path(@player), class: 'btn btn-sm btn-default' %>
			</p>
		</div>
		<div class="col-sm-7">
			<table class="table table-bordered table-condensed">
				<tbody class="small">
					<tr>
						<td>
							<strong>Class:</strong><br>
							<%= rest_in_place @player, :class_name %>
						</td>
						<td>
							<strong>Level:</strong><br>
							<%= rest_in_place @player, :rank %>
						</td>
						<td>
							<strong>Hit Points:</strong><br>
							<center>
								<%= rest_in_place @player, :hp, :input, true %>
								/
								<%= rest_in_place @player, :hp_max, :input, true %>
							</center>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Race:</strong><br>
							<%= rest_in_place @player, :race %>
						</td>
						<td>
							<strong>Alignment:</strong><br>
							<%= rest_in_place @player, :alignment %>
						</td>
						<td>
							<strong>Experience Points:</strong><br>
							<%= rest_in_place @player, :xp %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-push-5 col-sm-6 col-sm-push-6">
			<div class="row text-center">
				<div class="col-xs-4">
					<h4 class="thumbnail">
						<%= rest_in_place @player, :armor, :input, true %><br>
						<small>
							Armor
						</small>
					</h4>
				</div>
				<div class="col-xs-4">
					<h4 class="thumbnail">
						<%= rest_in_place @player, :initiative, :input, true %><br>
						<small>
							Initiaitve
						</small>
					</h4>
				</div>
				<div class="col-xs-4">
					<h4 class="thumbnail">
						<%= rest_in_place @player, :speed, :input, true %><br>
						<small>
							Speed
						</small>
					</h4>
				</div>
			</div>

			<div class="panel panel-info">
				<header class="panel-heading">
					<%= link_to raw('<i class="fa fa-plus"></i>'), new_player_weapon_path(@player), class: 'pull-right', data: { toggle: :modal, target: '#defaultModal' } %>
					<h4 id="weapons" class="panel-title text-center">
						Weapons & Attacks
					</h4>
				</header>
				<%= render template: 'weapons/index' %>
			</div>

			<div class="panel panel-info">
				<header class="panel-heading">
					<h4 class="panel-title text-center">
						Inventory
					</h4>
				</header>

				<%#= render template: 'items/index' %>

				<table class="table table-striped table-condensed">
					<tbody>
						<% 8.times do %>
						<tr>
							<td class="text-center">
								qty.
							</td>
							<td>
								name
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>

			</div>

		</div>
		<div class="col-md-5 col-md-pull-4 col-sm-6 col-sm-pull-6">
			<div class="row">
				<div class="col-sm-3">

					<div class="row text-center">
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= rest_in_place @player, :strength, :input, true %><br>
								<small>
									Strength
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= rest_in_place @player, :dexterity, :input, true %><br>
								<small>
									Dexterity
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= rest_in_place @player, :constitution, :input, true %><br>
								<small>
									Constitution
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= rest_in_place @player, :intelligence, :input, true %><br>
								<small>
									Intelligence
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= rest_in_place @player, :wisdom, :input, true %><br>
								<small>
									Wisdom
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= rest_in_place @player, :charisma, :input, true %><br>
								<small>
									Charisma
								</small>
							</h5>
						</div>
					</div>

				</div>
				<div class="col-sm-9">

					<h4 class="thumbnail text-center">
						<%= rest_in_place @player, :inspiration, :input, true %>
						<small>
							Inspiration
						</small>
					</h4>

					<h4 class="thumbnail text-center">
						<%= rest_in_place @player, :proficiency_bonus, :input, true %>
						<small>
							Proficiency Bonus
						</small>
					</h4>

					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<a class="panel-heading text-center small btn btn-default btn-block btn-sm" id="headingOne" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Saving Throws
							</a>
							<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
								<table class="table table-striped table-condensed">
									<tbody class="small">
										<% MODIFIERS.each do |modifier| %>
										<tr>
											<td>
												<%= check_box_tag "mod_#{modifier}_prof", true, @player.is_proficient_in_mod?(modifier), disabled: true %>
											</td>
											<td>
												<span class="rest-in-place" data-attribute="<%= "mod_#{modifier}" %>">
													<%= @player.send("mod_#{modifier}") %>
												</span>
												<%= "+ " + @player.proficiency_bonus.to_s if @player.send("mod_#{modifier}_prof") %>
											</td>
											<td>
												<%= content_tag :strong, modifier %>
											</td>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="panel panel-default">
							<a class="panel-heading text-center small btn btn-default btn-block btn-sm" id="headingTwo" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								Skills
							</a>
							<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
								<table class="table table-striped table-condensed">
									<tbody class="small">

										<%=  %>

										<% SKILLS.each do |skill| %>
										<tr>
											<td>
												<%= check_box_tag "skill_#{skill['name']}_prof", true, @player.is_proficient_in_skill?(skill['name']), disabled: true %>
											</td>
											<td>
												<%= @player.send(skill['name']) %>
											</td>
											<td>
												<%= content_tag :strong, skill['name'] %>
												(<%= skill['modifier'][0..2] %>)
											</td>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>Personality</dt>
				<dd><%= rest_in_place @player, :personality, :textarea %></dd>
				<dt>Ideals</dt>
				<dd><%= rest_in_place @player, :ideals, :textarea %></dd>
				<dt>Bonds</dt>
				<dd><%= rest_in_place @player, :bonds, :textarea %></dd>
				<dt>Flaws</dt>
				<dd><%= rest_in_place @player, :flaws, :textarea %></dd>
			</dl>
		</div>
	</div>

	<section id="spells">
		<h3>
			Spells
			<%= link_to raw('<i class="fa fa-plus"></i>'), new_player_spell_path(@player), data: { toggle: :modal, target: '#defaultModal' } %>
		</h3>
		<div id="levels" class="row">
			<% @player.player_spells.group_by(&:level).each do |level| %>
			<div class="col-sm-12 level">
				<div class="panel <%= spell_level_panel_class(level[0]) %>">
					<header class="panel-heading">
						<h4 class="panel-title">
							<%= spell_level level[0] %>
						</h4>
					</header>
					<div class="list-grpup">
						<% level[1].each do |spell| %>
						<%= link_to player_spell_path(@player, spell.spell), class: (spell.available ? 'list-group-item' : 'list-group-item disabled'), data: { toggle: :modal, target: '#defaultModal' } do %>
						<%= content_tag :strong, spell.spell.name  %>
						<%= content_tag :small, spell.spell.casting_time, class: "pull-right label #{spell.spell.casting_time_label_class}" %>
						<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
		</div>

	</section>

</div>
