<p id="notice"><%= notice %></p>

<div class="player" data-object="player" data-url="<%= player_path(@player) %>">
	<div class="row">
		<div class="col-sm-5 text-center">
			<h3>
				<%= best_in_place @player, :name, inner_class: 'form-control input-sm' %>
				<small>
					<a class="" data-toggle="collapse" href="#additional-player-info" aria-expanded="false" aria-controls="additional-player-info">
						<i class="fa fa-fw fa-info-circle"></i>
					</a>
				</small>
			</h3>
			<p class="btn-group" role="group">
				<%= link_to 'Rest', rest_player_path(@player), class: 'btn btn-sm btn-default' %>
				<%= link_to 'Edit', edit_player_path(@player), class: 'btn btn-sm btn-default' %>
			</p>
		</div>
		<div class="col-sm-7">
			<table class="table table-bordered table-condensed">
				<tbody class="small text-center">
					<tr>
						<td>
							<strong>Class:</strong><br>
							<%= best_in_place @player, :class_name, inner_class: 'form-control input-sm' %>
						</td>
						<td>
							<strong>Level:</strong><br>
							<%= best_in_place @player, :rank, inner_class: 'form-control input-sm' %>
						</td>
						<td>
							<strong>Hit Points:</strong><br>
							<center>
								<%= best_in_place @player, :hp, inner_class: 'form-control input-sm' %>
								/
								<%= best_in_place @player, :hp_max, inner_class: 'form-control input-sm' %>
							</center>
						</td>
					</tr>
					<tr>
						<td>
							<strong>Race:</strong><br>
							<%= best_in_place @player, :race, as: :select, collection: RACES.map{ |r| [r.name, r.name] }, inner_class: 'form-control input-sm' %>
						</td>
						<td>
							<strong>Alignment:</strong><br>
							<%= best_in_place @player, :alignment, inner_class: 'form-control input-sm' %>
						</td>
						<td>
							<strong>Experience Points:</strong><br>
							<%= best_in_place @player, :xp, inner_class: 'form-control input-sm' %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="collapse" id="additional-player-info">
		<div class="well well-sm">
			<dl class="panel-body">
				<dt>Personality</dt>
				<dd><%= @player.personality %></dd>
				<dt>Ideals</dt>
				<dd><%= @player.ideals %></dd>
				<dt>Bonds</dt>
				<dd><%= @player.bonds %></dd>
				<dt>Flaws</dt>
				<dd><%= @player.flaws %></dd>
			</dl>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5 col-md-push-7 col-sm-6 col-sm-push-6">

			<div class="row text-center">
				<div class="col-xs-4">
					<h4 class="thumbnail">
						<%= best_in_place @player, :armor, inner_class: 'form-control input-sm' %><br>
						<small>
							Armor
						</small>
					</h4>
				</div>
				<div class="col-xs-4">
					<h4 class="thumbnail">
						<%= best_in_place @player, :initiative, inner_class: 'form-control input-sm' %><br>
						<small>
							Initiaitve
						</small>
					</h4>
				</div>
				<div class="col-xs-4">
					<h4 class="thumbnail">
						<%= best_in_place @player, :speed, inner_class: 'form-control input-sm' %><br>
						<small>
							Speed
						</small>
					</h4>
				</div>
			</div>
			<div class="panel panel-info">
				<header class="panel-heading">
					<%= link_to raw('<i class="fa fa-plus"></i>'), new_player_weapon_path(@player), class: 'pull-right', data: { toggle: :modal, target: '#defaultModal' } %>
					<h4 class="panel-title text-center">
						Weapons & Attacks
					</h4>
				</header>
				<%= render template: 'weapons/index' %>
			</div>
			<div class="panel panel-info">
				<header class="panel-heading">
					<%= link_to raw('<i class="fa fa-plus"></i>'), new_player_item_path(@player), class: 'pull-right', data: { toggle: :modal, target: '#defaultModal' } %>
					<h4 class="panel-title text-center">
						Inventory
					</h4>
				</header>
				<%= render template: 'items/index' %>
			</div>

		</div>
		<div class="col-md-7 col-md-pull-5 col-sm-6 col-sm-pull-6">

			<div class="row">
				<div class="col-sm-3">

					<div class="row text-center">
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= best_in_place @player, :strength, inner_class: 'form-control input-sm' %><br>
								<small>
									Strength
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= best_in_place @player, :dexterity, inner_class: 'form-control input-sm' %><br>
								<small>
									Dexterity
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= best_in_place @player, :constitution, inner_class: 'form-control input-sm' %><br>
								<small>
									Constitution
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= best_in_place @player, :intelligence, inner_class: 'form-control input-sm' %><br>
								<small>
									Intelligence
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= best_in_place @player, :wisdom, inner_class: 'form-control input-sm' %><br>
								<small>
									Wisdom
								</small>
							</h5>
						</div>
						<div class="col-xs-4 col-sm-12">
							<h5 class="thumbnail">
								<%= best_in_place @player, :charisma, inner_class: 'form-control input-sm' %><br>
								<small>
									Charisma
								</small>
							</h5>
						</div>
					</div>

				</div>
				<div class="col-sm-9">

					<div class="row">
						<div class="col-md-4">
							<h4 class="thumbnail text-center">
								<%= best_in_place @player, :inspiration, inner_class: 'form-control input-sm' %>
								<br>
								<small>
									Inspiration
								</small>
							</h4>
						</div>
						<div class="col-md-4">
							<h4 class="thumbnail text-center">
								<%= best_in_place @player, :proficiency_bonus, class: 'reload-player', inner_class: 'form-control input-sm' %>
								<br>
								<small>
									Prof. Bonus
								</small>
							</h4>
						</div>
						<div class="col-md-4">
							<h4 class="thumbnail text-center">
								<%#= best_in_place @player, :proficiency_bonus, inner_class: 'form-control input-sm' %>
								#
								<br>
								<small>
									Passive Percep.
								</small>
							</h4>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div id="modifiers" class="panel panel-default">
								<%= render template: 'players/modifiers/index' %>
							</div>
						</div>
						<div class="col-md-6">
							<div id="skills" class="panel panel-default">
								<%= render template: 'players/skills/index' %>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<section id="spells">
		<%= render template: 'player_spells/index' %>
	</section>

</div>
